<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/now-ui-kit.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
        <link rel='shortcut icon' type = 'image/x-icon' href='assets/favicon.ico'>
        <title>Roastinator Commands</title>
        <script data-ad-client="ca-pub-6146219590052630" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script src="https://www.googletagservices.com/activeview/js/current/osd.js?cb=%2Fr20100101"></script>
        <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-KKLSRK6J1Z&amp;l=dataLayer&amp;cx=c"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
                <ul class="navbar-nav mr-auto">
                    <li style = margin-top:20px>
                        <a href="https://roastinator.xyz">Home<span class="sr-only">(current)</span></a>
                    </li>
                   
                </ul>
            </div>
        </nav>
        <!--DISABLED BUT MIGHT ENABLE IN FUTURE


            <div class="heading">
            <h1 class="display-5 title">Commands</h1>
            <p class="subtitle">Command list assorted by categories. You can also get the command list by using the help command in discord.</p>
        </div>
        --> 
        
        <div class="features">
            
            <div class="title">Commands</div>
            <!--ADD CARDS FROM HERE-->
            
            <div class="cards"></div>
            <div class="card" style="width: 38rem">
                <div class="card-body">
                    <h5 class="card-title">Economy</h5>
                    <p class="card-text">
                    <br>
                    Balance - Check your or other user's balance<br><br>
                    Beg - Beg for real money<br><br>
                    Buy - Buy items from the very real shop<br><br>
                    Daily - Get your free daily rewards<br><br>
                    Deposit - Deposit your very real money into the very real bank<br><br>
                    Dice - Gamble your very real money<br><br>
                    Inventory - Check your or other user's inventory<br><br>
                    Powerup - Check your or other user's active power-ups<br><br>
                    Reset - Reset your bank account, inventory and gambling statistic (Very risky)<br><br>
                    Roulette - Gamble your very real money<br><br>
                    Search - Search in random places for real money<br><br>
                    Sell - Sell your items for real money<br><br>
                    Shop - Check out the very real shop<br><br>
                    Stats - Check your or other user's gambling stats<br><br>
                    Use - Use power-ups or items<br><br>
                    Withdraw - Withdraw very real money from the very real bank<br><br>
                    Work - Work for very real money
                    </p>
                </div>
            </div>
            
            <div class="cards"></div>
            <div class="card" style="width: 38rem;">
                <div class="card-body">
                    <h5 class="card-title">Fun</h5>
                    <p class="card-text">
                    <br>
                    8ball - Ask yes/no type questions to Roastinator. He won't lie<br><br>
                    kiss - Kiss people (no homo)<br><br>
                    pepe - Measure people's pp (very accurate)<br><br>
                    puke - Puke<br><br>
                    roast - Roast peopl
                    </p>
                </div>
            </div>

            <div class="cards"></div>
            <div class="card" style="width: 38rem;">
                <div class="card-body">
                    <h5 class="card-title">Games</h5>
                    <p class="card-text">
                    <br>
                    CoinFlip - Heads or tails?<br><br>
                    rps - Play a game of rock paper scissors with the bot
                    </p>
                </div>
            </div>
                 
            <div class="cards"></div>
            <div class="card" style="width: 38rem;">
                <div class="card-body">
                    <h5 class="card-title">Image</h5>
                    <p class="card-text">
                    <br>
                    Bonk - Bonk people<br><br>
                    Shit - Make people shit<br><br>
                    Gay - Make people gay<br><br>
                    Like - Everyone liked that<br><br>
                    Trash - Make people trash
                    
                    </p>
                </div>
            </div>

            <div class="cards"></div>
            <div class="card" style="width: 38rem;">
                <div class="card-body">
                    <h5 class="card-title">Memes</h5>
                    <p class="card-text">
                    <br>
                    Meme - Brings a random meme from reddit<br><br>
                    DadJoke - Sends a dad joke (very funne)<br><br>
                    Cursed - Not a meme but, sends cursed images from reddit
                    </p>
                </div>
            </div>

            <div class="cards"></div>
            <div class="card" style="width: 38rem;">
                <div class="card-body">
                    <h5 class="card-title">Moderation</h5>
                    <p class="card-text">
                    <br>
                    Ban - Ban members from your server<br><br>
                    Blacklist - Blacklist words from your server<br><br>
                    Clean - Delete a lot of bot messages from a channel<br><br>
                    Clear - Delete a specified number of messages from a channel (Default is 1)<br><br>
                    Kick - Kick members from your server<br><br>
                    Lock - Lock a text channel<br><br>
                    Mute - Mute a member<br><br>
                    RemoveWarning - Remove a warning from a member's warnings<br><br>
                    Show - Shows the blacklisted words in the server<br><br>
                    TempMute - Temporarily mute a member<br><br>
                    UnBlacklist - Un-Blacklist a word in the server<br><br>
                    Unmute - Unmute a memeber
                    Warn - Warn a member in your server<br><br>
                    Warnings - Check your or other member's warnings
                    </p>
                </div>
            </div>
            
            <div class="cards"></div>
            <div class="card" style="width: 38rem;">
                <div class="card-body">
                    <h5 class="card-title">NSFW</h5>
                    <p class="card-text">
                    <br>
                    Asian - Brings images from r/asian<br><br>
                    Hentai - Brings hentai from r/hentai<br><br>
                    Nudes - Brings nudes
                    </p>
                </div>
            </div>

            <div class="cards"></div>
            <div class="card" style="width: 38rem;">
                <div class="card-body">
                    <h5 class="card-title">Utility</h5>
                    <p class="card-text">
                    <br>
                    Avatar - Open your or other user's avatar in full size<br><br>
                    Disable - Disable an enabled feature<br><br>
                    Embed - Embed your message<br><br>
                    EmbedAno - Embeds your message, but sends as anonymous<br><br>
                    Enable - Enable a disabled feature<br><br>
                    Level - Check your or other user's level<br><br>
                    Ping - Shows the bot's ping<br><br>
                    Say - Make the bot say stuff<br><br>
                    Snipe - Check the last deleted message in a channel<br><br>
                    Snipeedit - Check out the last edited message in a channel<br><br>
                    StarBoard - Set a starboard for the server<br><br>
                    Thank - Thank people<br><br>
                    Timer - Set a timer (timer [number] [mode]) mode must be in 'm' or 's'<br><br>
                    UTC - Shows the current time in UTC<br><br>
                    Tag - Add, Delete or Edit a server tag<br><br>
                    Tags - View the server tags<br><br>
                    Urban - Search for a word on the <a href="https://urbandictionary.com">Urban Dictionary</a>
                    </p>
                </div>
            </div>
           
    </body>
</html>